.dataTables_filter {
    float: right;
}

#data-table tbody tr td {
    vertical-align: middle;
}

.select2-selection__rendered {
    line-height: 29px !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-selection__arrow {
    height: 35px !important;
}

.select2-selection__choice {
    background-color: #007bff !important;
    border-color: #006fe6 !important;
    color: #fff !important;
    padding: 0 10px !important;
    margin-top: 0.31rem !important;
}

.product-image {
    max-width: 80px;
    max-height: 120px;
}

.not-found {
    width: 100vw;
    height: 100vh;
}

.not-found-image {
    width: 300px;
}

.not-found-link {
    color: #EB3E2d;
}

.not-found-link:hover {
    color: #D10024;
}